<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Hello {{ user.fname }}!</h1>

        <form action="{%url 'create_secret' %}" method='post'>
            {% csrf_token %}
            <textarea name='content' placeholder="Insert your secret here..." rows=8 cols=40></textarea>
            <input type='submit' value = 'Post'>
        </form>
        <a href='{% url "popular" %}'>Most Popular Secrets</a>
        <h1>Recent Secrets</h1>
        {% for secret in secrets %}
            <p>{{ secret.content }} <b>Posted</b> ({{ secret.created_at }})</p>{{ secret.liked_by.all|length }} of likes
            {% if user != secret.user %}
                <form action='{% url "create_like" id=secret.id %}' method='post'>
                    {% csrf_token %}
                    <input type='submit' value='Like'>
                </form>
            {% endif %}
        {% endfor %}
        

        <a href='/logout'><button>Logout</button></a>
    </body>
</html>